.header{
height: 130rem;
}

input[type=text] {
    width: 20rem;
    box-sizing: border-box;
    border: 2px solid var(--color-primary);
    border-radius: 1rem;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
.searchbar{
   margin: 1rem;
}
.nav-items{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: .4rem;
    background-color: var(--color-bg);
    border-radius: 1rem;
    font-size: 1rem;
    padding-left: .7rem;
    padding-right: .7rem;
}

.nav-items:hover{
    background-color: var(--color-primary );
}


.numberevents{
    margin-left: 1rem;
    color: var(--color-primary);
}
.logoheader{
    margin-top:2rem;
    margin-left: 1rem;
}