.nav__container{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    width:100%;
    display: block;
    padding: 1.6rem;
    z-index: 2;
    position:fixed;
    bottom: 0rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);

    text-align: center;

}
.nav__container a{
    background: transparent;
    padding: .4rem;
   
    color: var(--color-bg-variant);
    font-size: 1.5rem;

}
.nav__container a:hover{
    color: rgba(0 ,0 ,0, .3);
}

html{
    scroll-behavior: smooth;
}