@import url('https://fonts.googleapis.com/css?family=Inter');

.loginContainer{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    height: 45rem;
  }
.logoimg{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.login{
    
    margin-bottom: 0.6rem;
    font-size: .6rem;
}

.info1{
    background-color: white;
    margin-bottom: 1rem;
}

.buttons{
    padding:1rem;
    gap: 0.3rem;
    margin-left: 2rem;
    margin-top: -1rem;
    
}

.user{
    padding: 1rem;
   margin-left: -2rem;
    font-size: 1.5rem;
    margin-top: -1rem;
}

.input1{
    border: 2px solid var(--color-primary);
    padding: .7rem;
    width: 100%;
    border-radius: 0.5rem ;
    margin-bottom: 1rem;
}

.input2{
    border: 2px solid var(--color-primary);
    padding: .7rem;
    width: 100%;
    border-radius: 0.5rem ;
}

.trouble{
    text-align: center;
    font-size: 0.5rem;
    margin-top: -1rem;
}

.logout{
    background-color: var(--color-primary);
    width: 100%;
    padding: 1rem;
    border: 0rem;
    border-radius: 0.5rem;
    margin: 1rem;
    font-family: 'Inter';
    font-size: 1rem;
  }

  .logout:hover{
        background-color: transparent;
        border:2px solid var(--color-primary) ;
  }
  .logout1{
      display:flex;
  }

  .or{
    text-align: center;
    font-size: 1rem;
  }

  .other{
    padding:1rem;
    gap: 0.3rem;
    display: flex;
   justify-content: center;
   
}

.options{
    border-color: var(--color-bg);
    margin-bottom: 0.3rem;
}
.socialbutton{
    padding: .6rem;
    margin: .3rem;
    border-radius: 1rem;
    background-color: var(--color-bg);
}
